.ColorPicker-container {
  margin: 0 auto;
  padding: 32px;
  width: 400px;

}

.ColorPicker-container:hover {
  background-color:rgb(20, 20, 20);
}

.ColorPicker-colorContainer {
  margin-top: 16px;
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 33% 33% 33%;

}

.ColorPicker-color {
  margin: 32px;
  height: 48px;
  width: 48px;

  justify-self: center;

  text-align: center;
  color: black;
  font-size: 40px;

}
