.Join-container {
    display: flex;
    padding: 40px;
    margin: 0 auto;
    max-width: 1100px;
    align-items: center;
    justify-content: space-around;
}

.Join-fieldContainer {
}

.Join-howTo {
    margin-left: 32px;
    padding: 32px;
    width: 500px;
}

.Join-howTo:hover {
    background-color:rgb(20, 20, 20);
}

.Join-titleContainer {
    margin: 0 auto;
    max-width: 1000px;

    text-align: center;

}


input {
    margin: 16px;
    padding: 8px;
    width: 250px;

    text-align: center;
    font-family: 'Montserrat';
    font-size: 28px;
}

input:focus {
    outline: none;
}

.Join-spacer {
    height: 20px;
}
.Join-input {
    width: 300px;
}
.Join-button {
    margin: 0 auto;
    padding: 8px;
    border: 1px solid white;
    width: 300px;

    font-family: 'Montserrat';
    font-size: 28px;
}

.Join-button:hover {
    animation: button 6s linear infinite alternate;
    color:rgb(0, 0, 0);
}

@keyframes button {
    0%   {background-color: rgb(255, 0, 208);}
    33%  {background-color: rgb(255, 255, 0);}
    66%  {background-color: rgb(0, 255, 0);}
    100%  {background-color: rgb(0, 208, 255);}

  }

  .Join-row {
      display: flex;
  }

  .Join-fieldTitle {
      margin-bottom: 8px;
      font-size: 22px;
      font-weight: 700;
      text-align: center;
  }

  .Join-field {
      padding: 16px;
      font-size: 16px;
  }

  .Join-spacebar {
      margin: 0 4px;
      border: 1px solid white;
      padding: 4px 8px;
  }

  ul {
      padding-left: 16px;
  }
  li {
      margin: 8px;
  }

  .Join-invisibility {
      background-image: url('../modules/powerups/cloak.png');
  }

  .Join-speed {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-size: cover;
    background-image: url('../modules/powerups/thunderbolt.png');
}

.Join-shrink {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-size: cover;
    background-image: url('../modules/powerups/potion.png');
}

.Join-powerup {
    display: flex;
    align-items: center;
    justify-content: left;
}

.Join-icon {
    margin: 4px;
    width: 32px;
    height: 32px;
    display: inline-block;
    background-size: cover;
}

.Join-mirror {
    margin: 8px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: cover;
}

.Join-wall {
    margin: 8px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: white;
}
