.Lobby-container {
    margin: 0 auto;
    padding: 8px;
    max-width: 1100px;

}

.Lobby-header {
    margin-top: 16px;
    padding: 0 16px;
}

.Lobby-heading {
    font-size: 28px;
}

.Lobby-code {
    margin-bottom: 32px;
    padding: 0 28px;

    text-align: center;
    font-size: 64px;
    font-family: 'Orbitron';
    color: white;
	-webkit-text-stroke: 1px white;
    -webkit-text-fill-color: black;
}


.Lobby-button {
    margin: 0 auto;
    padding: 8px;
    border: 1px solid white;
    width: 250px;

    font-family: 'Montserrat';
    font-size: 28px;
}

.Lobby-button:hover {
    animation: button 6s linear infinite alternate;
    color:rgb(0, 0, 0);
}

.Lobby-people {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
}

.Lobby-username {
    margin-bottom: 32px;
    font-size: 24px;
}

hr {
    margin: 16px 0 32px;
    background-color: white;
    border: 0.5px solid white;
    stroke-opacity: 50%;
}

.Lobby-load {
    margin-top: 100px;
    margin-bottom: 32px;
}

.Lobby-loading {
    margin: 0 auto;
    width: 150px;
    height: 150px;

    background-image: url('../../public/loading.gif');
    background-size: cover;
}
