.Lobby-container {
    margin: 0 auto;
    display: flex;
    padding: 8px;
    padding-bottom: 64px;
    max-width: 1100px;
}

.Lobby-contents {
    margin-right: 32px;
    flex-grow: 3;
}

.Lobby-header {
    margin-top: 16px;
    padding: 0 16px;
}

.Lobby-heading {
    font-size: 28px;
}

.Lobby-code {
    margin-bottom: 32px;
    padding: 0 28px;

    text-align: center;
    font-size: 64px;
    font-family: 'Orbitron';
    color: white;
	-webkit-text-stroke: 1px white;
    -webkit-text-fill-color: black;
}


.Lobby-button {
    margin: 0 auto;
    padding: 8px;
    border: 1px solid white;
    width: 250px;

    font-family: 'Montserrat';
    font-size: 28px;
}

.Lobby-button:hover {
    animation: button 6s linear infinite alternate;
    color:rgb(0, 0, 0);
}

.Lobby-people {
    display: grid;
    min-height: 200px;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
}

.Lobby-username {
    margin-bottom: 32px;
    font-size: 24px;
}

hr {
    margin: 16px 0 32px;
    background-color: white;
    border: 0.5px solid white;
    stroke-opacity: 50%;
}

.Lobby-load {
    margin-top: 100px;
    margin-bottom: 32px;
}

.Lobby-loading {
    margin: 0 auto;
    width: 150px;
    height: 150px;

    background-image: url('../../public/loading.gif');
    background-size: cover;
}

.Lobby-slider {
    display: block;
    margin: 0 auto;
    width: 300px;
}

.Lobby-settingContainer {
    margin: 0 auto;
    padding: 16px;
    padding-bottom: 32px;
    width: 440px;
}

.Lobby-mapTypes {
    margin-bottom: 24px;
    width: 100%;
    display: flex;
}

.Lobby-mapType {
    border: 1px solid white;
    padding: 8px;
    flex-grow: 2;
    text-align: center;
}

.Lobby-settingHeading {
    margin-bottom: 16px;
    font-size: 20px;
    text-align: center;

}

.Lobby-settingTitle {
    margin: 8px 0;
}

.Lobby-mapSettings {
    padding: 0 16px;
}

.Lobby-square {
    min-width: 6px;
    min-height: 6px;
    border: 0.5px solid rgb(56, 56, 56);
  }

.Lobby-row {
    margin: 0 auto;
    display: flex;
}

.Lobby-gridContainer {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.Lobby-waiting {
    text-align: center;
    font-size: 24px;
    animation: flash 3s alternate infinite;
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
