.Login-titleContainer {
    max-width: 1000px;
    text-align: center;
    margin: 0 auto; }

.Login-title {
    margin-top: 180px;
    margin-bottom: 32px;
    font-size: 72px;
    font-family: 'Orbitron';
    color: white;
	-webkit-text-stroke: 1px white;
    -webkit-text-fill-color: black;
    animation: intro 2s ease-in;
}
.Login-specialLink{
    color: white;
    text-decoration: none;
    display: block
}
.Login-buttonContainer {
    animation: fadein 3s ease-in 1;
}

@keyframes intro {
    0% {font-size: 1px;}
    100% {font-size: 72px;}
}

@keyframes fadein {
    0% {opacity: 0%;}
    66% {opacity: 0%;}
    100% {opacity: 100%}
}
