.PoseHandler-cam {
  display: flex;
  align-items: center;
  transform: scaleX(-1);
  position: fixed;
  left: 50%;
  margin-left: -75px;
  bottom: 16px;
  width: 150px;
  /* visibility: hidden; */
}
.PoseHandler-visualizer {
  display: flex;
  align-items: center;
  transform: scaleX(-1);
  position: fixed;
  left: 50%;
  margin-left: -75px;
  bottom: 16px;
}
